 
//About Us

.about_cta_section{
	background-color:$blue;
	padding:3rem 0;

	@include mq($min-width: 768px) {
		padding:5rem 0;
	}
}

.bazz_team_style{
	padding:3rem 0;

	@include mq($min-width: 768px) {
		padding:5rem 0;
	}
}


.about_sub_pages{
	
	padding:3rem 0 2rem;
	background-color:$gray-200;
	overflow:hidden;

	@include mq($min-width: 768px) {
		padding:5rem 0 4rem;
	}

	@include mq($min-width: 992px) {
		padding:5rem 0 0rem;
	}

	&__style1{
			.row{
				&:nth-child(even){
					flex-direction:row-reverse;

					.content_area_about{
						@include mq($min-width: 992px) {
							padding-left:20rem;
							padding-right:5rem;
						}

						@include mq($min-width: 1440px) {
							padding-left:15rem;
							padding-right:25rem;
						}
					}
				}

				.image_area_about img{
					right:-30%;
				}

				&:nth-child(even){
					.image_area_about img{
						left:-30%;
					}
				}

				&:nth-child(odd){
					.content_area_about{
					 

						@include mq($min-width: 992px) {
							padding-right:20rem;
							padding-left:5rem;
						}

						@include mq($min-width: 1440px) {
							padding-right:15rem;
							padding-left:25rem;
						}
					}
			
				}
			}

	.content_area_about{
		@extend .box-with-shadow;
		padding:3rem;
		position:relative;
		margin:2rem 0;
		
		@include mq($min-width: 992px) {
			margin:6rem 0;
		}

		&:after{
			@extend .box-with-shadow;
			 
			width:100%;
			position:absolute;
			top:0;
			bottom:0;
			}

		

		.image_area_about img{
			@include mq($min-width: 992px) {
				position:absolute;
				top:0%;
				@include transform(translateY(0%));
				@include box-shadow (0px, 3px, 6px, rgba(0, 0, 0, 0.23));
				@include transform(translateY(-20%));
			}

		}
	}
}
}