 
//Main 

:root {
font-size: $base-font-size;

 

}

 
 
body{
	color:$color__text-gray;
	font-family:$font__code;
	line-height:1.7;
	@include font-size(1);
	@include transition(linear .3s);


}

h1,
h2,
h3,
h4,
h5,
h6{
	font-family:$font__serif;
	font-weight:bold;
	 
	line-height:1.4;
	color: $gray-800;

	span{
		color:$color__text-red;
	}
}

h1{
		@include font-size(2.3);
		font-weight:800;
}

h2{
		@include font-size(2);
	 
}

h3{
		@include font-size(1.6);
	 
}

h4{
		@include font-size(1.1);
		
	 
}



.sub-headline{

	@include font-size(1.2);
	font-family:$font__serif;
	font-style:italic;


	
}

.if-bg{
	color:$white;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6{

		color:$white;
	}

	.sub-headline{
		color:$white;

	}
}


ul {
  
  
}

a, a:hover{
	text-decoration:none;
}

 

.bazz_page_detail, .bazz_normal_page_detail, .main_products_wrap{
	padding:3rem 0 ;

	@include mq($min-width: 768px) {
		padding:5rem 0 5rem;
	}
 }

 .main_products_wrap{
 	
 	@include mq($min-width: 768px) {
 		padding-top:2.5rem;
 	}
 }



.site-main{
	overflow:hidden;
	min-height:70vh;
}

.fixed-body{
	position:fixed;
	width:100%;
	@include transform (translateX(-300px));

}

 




