 
//Newsletter

.homepage_newsletter{
 
	.container{
		position:relative;
	}
 .bazz_newsletter_wrap{
 	background:$color__background-body;
	@include box-shadow (0px, 3px, 6px, rgba(0, 0, 0, 0.23));
	@include transform( translateY(-50%);
	position:absolute;
	left:0;
	right:0;

	.homepage_newsletter-right{
		background-color:$gray-300;
		height: 100%;
		position:relative;
	}

	.side_text{
		background-color:$blue;
		position:absolute;
		right:-1px;
		top:0;
		width:65px;
		height:100%;


	}
	.rotate-90{
		@include transform( translate(-50%, 0) rotate(-90deg));
		position:absolute;
		color:$white;
		left:50%;
		bottom:50%;
		width:170px;
		 }

		 .top_subscribe_text{
		 	padding-bottom:.5rem;

		 }
}   
 }
 
 .tnp-subscription{
 	@extend .box-with-shadow;

	label{
		margin-bottom:1.5rem !important;
		font-weight:600 !important;
		color:$gray-800 !important;
		font-size:16px !important;
	}

	input.tnp-submit{
		margin:2rem 0 !important;
		background-color:$red !important;
	}
}

