$font__main: sans-serif;
$font__code: Open Sans;
$font__serif: 'Playfair Display', serif;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
$font__icons:FontAwesome !important;
